{#- all_links.html -#}

<html>
<head><title>DHBW-API Schnittstelle</title></head>
<body>
{% for url, documentation in links.items() %}
<h1><a href="{{ url }}">{{ url }}</a></h1>
<p>{{ documentation.replace('\n', '<br>\n')|safe }}</p>

{% endfor %}
</body>
</html>
